* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #000000;
}
a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}
li {
    list-style: none;
}
