* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #000000;
}
a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}
li {
    list-style: none;
}

p {
    font-family: "Roboto", sans-serif !important;
}
.logo img {
    height: 36px;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto", sans-serif !important;
}
